html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 100%;
  overflow: hidden;
  background-color: rgb(210, 195, 195);
  font-size: 16px;
}
p {
  color: aliceblue;
}
.centered {
  display: flex;
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: max-content;
}

#inputname {
  border: 3px solid(141, 73, 38);
  margin-left: 3rem;
  margin-top: 0.1rem;
  border-radius: 20px;
  width: 180px;
  height: 60px;
  font-size: 34px;
  box-sizing: border-box;
  z-index: 1000 !important;
}

#start-quiz-button {
  font-size: clamp(0.3rem, 0.3rem + 0.7619vw, 1rem);
  background-color: #c27812;
  box-sizing: border-box;
  border-radius: 20px;
  border: 3px solid(141, 73, 38);
  margin-left: 1rem;
  cursor: pointer;
  width: 180px;
  height: 60px;
  float: right;
}

.result-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  background-color: var(--beige);
  border: 4px solid var(--light-brown);
  border-radius: 10px;
  margin: 0 auto;
  height: 50vh;
  width: 50vw;
  margin-bottom: 3.75rem;
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 15px;
}

.question-holder {
  display: grid;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
  background-color: #2980b9;
  border: 4px solid;
  border-radius: 10px;
  margin: 0 auto;
  padding: 4rem 0;
  height: 60vh;
  width: 80vh;
}

#next-question-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px !important;
  color: rgb(47, 48, 48);
  cursor: pointer;
  border: 3px solid var(--dark-brown);
  border-radius: 10px;
}

.score-element {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px !important;
  color: rgb(48, 45, 45);
  border: 3px solid(141, 73, 38);
  background-color: #cac8c5;
  border: 20px solid var(--dark-brown);
  padding: 5px;
  border-radius: 10px;
}

.restart-button {
  font-size: clamp(0.3rem, 0.3rem + 0.7619vw, 1rem);
  background-color: #c27812;
  box-sizing: border-box;
  border-radius: 20px;
  border: 3px solid(141, 73, 38);
  margin-top: 2rem;
  float: right;
  cursor: pointer;
  width: 180px;
  height: 60px;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: pointer;
  align-items: center;
  position: relative;
}

li {
  font-size: 18px;
  font-size: clamp(0.5rem, 0.3333rem + 0.7619vw, 1rem);
  display: inline-block;
  box-sizing: border-box;
  min-width: 14rem;
  padding: 1rem 2rem;
  background-color: rgb(209, 168, 168);
  border: 3px solid var(--dark-brown);
  border-radius: 10px;
  text-align: start;
  box-shadow: 4px 6px 0px 0px rgba(26, 18, 6, 0.75);
  color: black;
}

@media only screen and (max-width: 768px) {
  #next-question-button {
    margin-top: 4rem;

    margin-left: 5rem;
  }

  .score-element {
  }
}
